@{
}


<style>
    body {
        background-image: url("./backgpaws.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<div class="text-center">
    <h1 class="display-6">Some Content Here</h1>
</div>