@{
}

<br />

<style>
    body {
        background-image: url("./backgpaws.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<div class="container-fluid">
    <div class="w-75 rounded-3 p-4 bg">
        <p id="Register" class="text-center">Add New Pet</p>
        <form method="post">

            <div>
                <div class="mb-3 col">
                    <label for="Name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="Name" placeholder="Pet Name">
                </div>

                <div class="mt-2 col">
                    <label for="Species" class="form-label">Species</label>
                    <input type="text" class="form-control" name="Species" required>
                </div>
            </div>
            
            <div>
                <div class="mt-2 col">
                    <label for="Breed" class="form-label">Breed</label>
                    <input type="text" class="form-control" name="Breed" required>
                </div>

                <div class="col-md-12 mt-3">
                    <label for="Age" class="form-label">Age</label>
                    <input type="text" class="form-control" name="Age" required>
                </div>
            </div>

            <div class="col-md-12 mt-3">
                <label for="Description" class="form-label">Description</label>
                <textarea class="form-control" name="Description"></textarea>
            </div>

            <div class="text-center">
                <button type="submit" value="Submit" class="btn btn-success mt-3">Submit</button>
            </div>

        </form>
    </div>
</div>