@{
}
<style>
    body {
        background-image: url("./signupback.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<div class="text-center">
    <h2 class="display-6">This is the new modified index for logged in users.</h2>
</div>