@{
    ViewData["Title"] = "Home Page";
}

<br />

<style>
    body {
    background-image: url("./catbackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to the world of Pets!</h1>
</div>
